body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fffaf5;
}

.hero {
    height: 100vh;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;
}

h1 {
    font-size: 4rem;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}
